.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background: #1a1a1a;
  color: white;
  text-align: center;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: env(safe-area-inset-bottom);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  align-items: center;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.photo {
  width: 100%;
  max-width: calc(100% - 32px);
  height: auto;
  object-fit: contain;
  display: block;
  margin: 15px auto 0;
  box-sizing: border-box;
}

.buttonArea {
  display: flex;
  gap: 12px;
  flex-direction: row;
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 10px 15px;
  box-sizing: border-box;
}

button {
  flex: 1;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(14px, 3.5vw, 16px);
}

.saveBtn {
  background-color: #e4003a;
  color: white;
}

.goodsBtn {
  background-color: #a57444;
  color: white;
}

button span {
  display: block;
  font-size: 12px;
  opacity: 0.8;
}

.description {
  font-size: clamp(12px, 3.2vw, 14px);
  text-align: left;
  line-height: 1.6;
}

.footer {
  padding-bottom: 12px;
  color: hotpink;
  font-weight: bold;
  font-size: clamp(12px, 3.2vw, 14px);
}

.footerBrand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo {
  width: 40px;
  height: auto;
}

.website {
  font-size: clamp(12px, 3.2vw, 14px);
  color: #dcdcdc;
  font-weight: 400;
  margin-top: -12px;
}

/* 작은 휴대폰 대응 */
@media (max-width: 360px) {
  .buttonArea {
    flex-direction: row; /* 항상 2열 유지 */
    width: 100%;
    max-width: calc(100% - 32px);
    margin: 10px auto;
  }

  .buttonArea button {
    flex: 1;
  }
}

/* 태블릿 및 키오스크 큰 화면 */
@media (min-width: 768px) {
  .container {
    border-radius: 16px;
    overflow: hidden;
  }
}
